{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Password Assistance{% endblock %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'authentication/fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'authentication/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'authentication/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="content" style="padding: 10rem 0;">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-6 contents">
            <div class="row justify-content-center">
               <div class="col-md-12">
                  <div class="form-block">
                     <div class="mb-6">
                        <h3 style="text-align: center;">Password assistance</h3>
                     </div>
                     <div class="mb-6" style="text-align: center; margin-bottom: 2rem;">
                        <span>Enter the email address associated with your account.</span>
                     </div>
                     {% if messages %}
                     {% for message in messages %}
                     <div class="alert alert-danger" role="alert">
                        {{ message }}
                     </div>
                     {% endfor %}
                     {% endif %}
                     <form action="{% url 'authentication:forget_password' %}" method="post" id="form">
                        {% csrf_token %}
                        <div class="form-group last mb-5">
                           <input type="text" class="form-control" id="email" name="email" Placeholder="Email">
                           <span id="email-error" class="text-danger"></span> 
                        </div>
                        <input type="submit" value="Continue" class="btn btn-pill text-white btn-block btn-primary" style="background: #3399ff; width: 50%; margin-left: 6.5rem;">
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'authentication/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'authentication/js/popper.min.js' %}"></script>
<script src="{% static 'authentication/js/bootstrap.min.js' %}"></script>
<script src="{% static 'authentication/js/main.js' %}"></script>
<script>
   document.getElementById("form").addEventListener("submit", function (event) {
     var email = document.getElementById("email").value.trim();
     var isValid = true;
   
     if (email === "") {
         isValid = false;
         document.getElementById("email-error").textContent = "Please enter your email address.";
     } else if (!isValidEmail(email)) {
         isValid = false;
         document.getElementById("email-error").textContent = "Please enter a valid email address.";
     } else {
         document.getElementById("email-error").textContent = ""; 
     }
     if (!isValid) {
      event.preventDefault(); 
     }
   
   });
   
   function isValidEmail(email) {
       var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
       return emailRegex.test(email);
   }
   
</script>  
{% endblock %}