{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'authentication/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="content" style="padding: 2rem 0;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-6">
                                    <h3 style="text-align: center; margin-bottom: 50px;"><strong>Sign Up</strong></h3>
                                </div>
                                {% if email_taken %}
                                    <div class="alert alert-danger" role="alert">
                                        Email you had entered is already taken
                                    </div>
                                {% endif %}
                                <form action="{% url 'authentication:signup' %}" method="post" id="form">
                                    {% csrf_token %}
                                    <div class="form-group first">
                                        <input type="text" class="form-control mb-2" id="fullname" name="fullname" Placeholder="Full Name" >
                                        <span id="fullname-error" class="text-danger"></span>
                                    </div>
                                    <div class="form-group last mb-4">
                                        <input type="text" class="form-control" id="email" name="email" Placeholder="Email">
                                        <span id="email-error" class="text-danger"></span>
                                    </div>
                                    <div class="form-group last mb-5">
                                        <input type="password" class="form-control" id="password" name="password" Placeholder="Password">
                                        <span id="password-error" class="text-danger"></span>
                                    </div>
                                    <input type="submit" value="Sign Up" class="btn btn-pill text-white btn-block btn-primary" style="background: #3399ff;">
                                    <span class="d-block text-center my-4 text-muted"> Already have an account? <a href='{% url 'authentication:signin' %}' style="color: #3399ff;">Sign In</a></span>
                                    <span class="d-block text-center my-2 text-muted"> or continue with</span>
                                    <div class="social-login text-center">
                                        <a href="#" class="facebook mr-1">
                                            <span class="icon-facebook mr-3"></span>
                                        </a>
                                        <a href="#" class="google">
                                            <span class="icon-google mr-3"></span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'authentication/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'authentication/js/popper.min.js' %}"></script>
    <script src="{% static 'authentication/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'authentication/js/main.js' %}"></script>
    <script>
        document.getElementById("form").addEventListener("submit", function (event) {
            var fullname = document.getElementById("fullname").value.trim();
            var email = document.getElementById("email").value.trim();
            var password = document.getElementById("password").value.trim();
            var isValid = true;

            if (fullname === "") {
                isValid = false;
                document.getElementById("fullname-error").textContent = "Please enter your full name.";
            } else if (!isValidName(fullname)) {
                isValid = false;
                document.getElementById("fullname-error").textContent = "Please enter a valid name.";
            } else {
                document.getElementById("fullname-error").textContent = "";
            }

            if (email === "") {
                isValid = false;
                document.getElementById("email-error").textContent = "Please enter your email address.";
            } else if (!isValidEmail(email)) {
                isValid = false;
                document.getElementById("email-error").textContent = "Please enter a valid email address.";
            } else {
                document.getElementById("email-error").textContent = "";
            }

            if (password === "") {
                isValid = false;
                document.getElementById("password-error").textContent = "Please enter your password.";
            } else if (!isValidPassword(password)) {
                isValid = false;
                document.getElementById("password-error").textContent = "Password must contain at least 8 characters, 1 capital letter and 1 symbol.";
            } else {
                document.getElementById("password-error").textContent = "";
            }

            if (!isValid) {
                event.preventDefault();
            }
        });

        function isValidName(name) {
            var nameRegex = /^[A-Za-z]+$/;
            return nameRegex.test(name);
        }

        function isValidEmail(email) {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        function isValidPassword(password) {
            var passwordRegex = /^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.{8,})/;
            return passwordRegex.test(password);
        }
    </script>
{% endblock %}