{% extends 'custom_admin/base.html' %}
{% load static %}
{% block title %}Edit Offer{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'admin/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/vendors/jvectormap/jquery-jvectormap.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="main-panel">
   <div class="content-wrapper">
      <div class="page-header">
         <h3 class="page-title">Edit Offer</h3>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               {% if error_message %}
               <div class="alert alert-danger" role="alert">
                  {{ error_message }}
               </div>
               {% endif %}
               <form class="forms-sample" method="POST" action="{% url 'offer:edit_offer' offer.id %}" onsubmit="return validateForm()">
                  {% csrf_token %}  
                  <div class="form-group">
                     <label for="offerName">Offer Name</label>
                     <input type="text" style="color: white;" class="form-control" id="offerName" placeholder="Enter Offer Name" value="{{ offer.name }}" name="offer_name">
                     <span id="offerNameError" style="color: red; font-size: 12px;"></span>
                  </div>
                  <div class="form-group">
                     <label for="discount">Discount (%)</label>
                     <input type="text" style="color: white;" class="form-control" id="discount" placeholder="Enter Discount Percentage (%)" value="{{ offer.discount }}" name="discount">
                     <span id="discountError" style="color: red; font-size: 12px;"></span>
                  </div>
                  <div class="form-group">
                    <label for="activeDate">Active Date</label>
                    <input type="date" style="color: white;" class="form-control" id="activeDate" value="{{ active_date }}" name="active_date">
                    <span id="activeDateError" style="color: red; font-size: 12px;"></span>
                  </div>
                  <div class="form-group">
                     <label for="expiryDate">Expiry Date</label>
                     <input type="date" style="color: white;" class="form-control" id="expiryDate" value="{{ expiry_date }}" name="expiry_date">
                     <span id="expiryDateError" style="color: red; font-size: 12px;"></span>
                  </div>
                  
                  <div style="display: flex; justify-content: end; margin-top: 2rem">
                     <a href="{% url 'admin_techify:offer_management' %}" class="btn btn-dark mr-2">Back</a>
                     <button type="submit" class="btn btn-success">Update</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'admin/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'admin/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'admin/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin/assets/js/misc.js' %}"></script>
<script src="{% static 'admin/assets/js/settings.js' %}"></script>
<script src="{% static 'admin/assets/js/todolist.js' %}"></script>
<script>
    function validateForm() {
        var offerName = document.getElementById("offerName").value;
        var discount = document.getElementById("discount").value;
        var activeDate = document.getElementById("activeDate").value;
        var expiryDate = document.getElementById("expiryDate").value;
        
        if (offerName.trim() === "") {
            document.getElementById("offerNameError").innerText = "Offer Name cannot be empty";
            return false;
        } else {
            document.getElementById("offerNameError").innerText = "";
        }
        
        if (discount.trim() === "" || isNaN(discount) || discount < 1 || discount > 100) {
            document.getElementById("discountError").innerText = "Discount must be a number between 1 and 100";
            return false;
        } else {
            document.getElementById("discountError").innerText = "";
        }
        
        if (activeDate.trim() === "" || activeDate < getCurrentDate()) {
            document.getElementById("activeDateError").innerText = "Active Date must be today or greater";
            return false;
        } else {
            document.getElementById("activeDateError").innerText = "";
        }
        
        if (expiryDate.trim() === "" || expiryDate < getCurrentDate() || expiryDate < activeDate) {
            document.getElementById("expiryDateError").innerText = "Expiry Date must be today or greater than Active Date";
            return false;
        } else {
            document.getElementById("expiryDateError").innerText = "";
        }
        
        return true;
    }
    
    function getCurrentDate() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        return yyyy + '-' + mm + '-' + dd;
    }
</script>
{% endblock %}