{% extends 'custom_admin/base.html' %}
{% load static %}
{% block title %}Techify Admin{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'admin/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/vendors/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %}">
{% endblock %}
{% block content %}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">${{ total_revenue }}</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Total Revenue</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">${{ monthly_revenue }}</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Monthly Revenue</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">${{ daily_revenue }}</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Daily Revenue</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{ total_sales }}</h3>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Total Sales</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Transaction Details</h4>
              <canvas id="transaction-history" class="transaction-chart"></canvas>
              {% for method, total in methods_and_totals.items %}
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                  <div class="text-md-center text-xl-left">
                    <h6 class="mb-1">{{ method }}</h6>
                  </div>
                  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                    <h6 class="font-weight-bold mb-0">${{ total }}</h6>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Best Selling Product (Top 7)</h4>
              </div>
              <div class="preview-list">
                {% for product in top_products %}
                  <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                      <img src="{{ product.thumbnail.url }}" alt="image" class="rounded-circle" />
                    </div>
                    <div class="preview-item-content d-flex flex-grow">
                      <div class="flex-grow">
                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                          <h6 class="preview-subject" style="margin-top: 0.5rem;">{{ product.name }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Best Selling Brand (Top 7)</h4>
              </div>
              <div class="preview-list">
                {% for brand in top_brands %}
                  <div class="preview-item border-bottom">
                    <div class="preview-item-content d-flex flex-grow">
                      <div class="flex-grow">
                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                          <h6 class="preview-subject" style="margin-top: 0.5rem;">{{ brand }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="chart-div" style="background: #191c24; padding: 1rem;">
        <div>
          <canvas id="myChart"></canvas>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 2rem; padding-bottom: 2rem;">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="scrollTo" value="chart-div">
            <button class="btn btn-inverse-primary" style="margin-right: 1rem;" name="time_frame" value="weekly">Weekly</button>
            <button class="btn btn-inverse-primary" style="margin-right: 1rem;" name="time_frame" value="monthly">Monthly</button>
            <button class="btn btn-inverse-primary" style="margin-right: 1rem;" name="time_frame" value="yearly">Yearly</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'admin/assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'admin/assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src="{% static 'admin/assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'admin/assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'admin/assets/js/misc.js' %}"></script>
  <script src="{% static 'admin/assets/js/settings.js' %}"></script>
  <script src="{% static 'admin/assets/js/todolist.js' %}"></script>
  <script src="{% static 'admin/assets/js/dashboard.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // Function to scroll to the desired element
    function scrollToTargetDiv() {
      const scrollTo = '{{ scrollTo|safe }}';
      if (scrollTo) {
          // Scroll to the target div with the corresponding ID
        const targetDiv = document.getElementById(scrollTo);
        if (targetDiv) {
          targetDiv.scrollIntoView({ behavior: 'smooth' });
        }
      }
    }
    // Call the scrollToTargetDiv function when the page is loaded
    window.onload = scrollToTargetDiv;

    // Declare transactionHistoryChart variable
    let transactionHistoryChart;

    // sales Chart
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ label|safe }},
        datasets: [{
          label: 'No. of Sales',
          data: {{ sales_count|safe }},
          borderWidth: 2
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          legend: {
            labels: {
              color: 'white'
            }
          }
        },
        tooltips: {
          mode: 'index',
          intersect: false,
          backgroundColor: 'rgba(0,0,0,0.7)',
          titleFont: {
            color: 'white'
          },
          bodyFont: {
            color: 'white'
          }
        },
        scales: {
          x: {
            ticks: {
              color: 'white'
            }
          },
          y: {
            beginAtZero: true,
            ticks: {
              color: 'white'
            }
          }
        }
      }
    });

    // Check if transactionHistoryChart exists before destroying
    if (typeof transactionHistoryChart !== 'undefined' && transactionHistoryChart !== null) {
      transactionHistoryChart.destroy();
    }

    // Transaction-details Chart
    const ctx2 = document.getElementById('transaction-history');
    transactionHistoryChart = new Chart(ctx2, {
      type: 'pie',
      data: {
        labels: ['Online Payment', 'Cash on Delivery', 'Wallet Payment'],
        datasets: [{
          data: {{ counts|safe }},
          backgroundColor: [
            'rgba(0, 255, 38, 1)', // Green
            'rgba(255, 254, 0, 1)',  // Yellow
            'rgba(0, 235, 255, 1)'   // blue
          ],
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          }
        }
      }
    });
  </script>
{% endblock %}