{% extends 'user/base.html' %}
{% load static %}
{% block title %}Account{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
    <style>
        .address-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 0;
            margin-right: 0;
        }
        .address-container h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .address-container p {
            margin: 5px 0;
        }
        .address-container .name {
            font-weight: bold;
        }
        .address-container .city {
            margin-top: 10px;
        }
        .address-container .state,
        .address-container .zip,
        .address-container .country {
            display: inline-block;
            margin-right: 10px;
        }
        .address-container .state::after,
        .address-container .zip::after,
        .address-container .country::after {
            content: ",";
        }
        .address-container .state:last-child::after,
        .address-container .zip:last-child::after,
        .address-container .country:last-child::after {
            content: "";
        }
    </style>
{% endblock %}
{% block main %}
    <main class="main" style="margin-top: 50px; margin-bottom: 10rem;">
        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'account:account_settings'  %}">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:orders'  %}">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:address'  %}">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="{% url 'account:wallet'  %}">Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="{% url 'account:change_password'  %}">Change Password</a>
                                </li>
                            </ul>
                        </aside>
                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <h3>Account Details</h3>
                                <div class="row">
                                    <div class="address-container col-6" style="margin-bottom: 1rem;">
                                        <form method="POST" onsubmit="return validateForm()">
                                            {% csrf_token %}
                                            <div style="margin-bottom: 1.2rem;">
                                                <label style="margin-right: 10px"><strong>Name :</strong></label>
                                                <input type="text" id="name" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" value="{{ user.name }}" name="name"><br>
                                                <div id="name-error" style="color: red;"></div>
                                            </div>
                                            <div style="margin-bottom: 1.2rem;">
                                                <label style="margin-right: 13px"><strong>Email :</strong></label>
                                                <input type="text" style="border: none; width: 100%; background: white;" value="{{ user.email }}" disabled><br>
                                            </div>
                                            <div style="margin-bottom: 1.2rem;">
                                                <label style="margin-right: 13px"><strong>Referral Code :</strong></label><br>
                                                {% if user.referral_code %}
                                                    <input type="text" style="border: none; width: 100%; background: white;" value="{{ user.referral_code }}" disabled><br>
                                                {% else %}
                                                    <a href="{% url 'account:get_referral_code' %}" style="cursor: pointer;" class="btn btn-info text-white rounded-pill">Get Referral Code</a>
                                                {% endif %}
                                            </div>
                                            <div style="flex-direction: row-reverse; display: flex; margin-top: 2rem;">
                                                <button style="border: none; background: white;">
                                                    <a class="btn btn-primary text-white rounded-pill">Save</a>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
{% endblock %}
{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var currentUrl = window.location.href;
            var menuLinks = document.querySelectorAll(".main-nav .menu li a");

            menuLinks.forEach(function(link) {
                if (link.href === currentUrl) {
                    link.parentElement.classList.add("active");
                }
            });
        });
        function validateForm() {
            var name = document.getElementById("name").value;
            var nameErrorDiv = document.getElementById("name-error");

            // Regular expression to allow only letters and spaces
            var nameRegex = /^[A-Za-z\s]+$/;

            if (name.trim() === "") {
                nameErrorDiv.textContent = "Please enter your name.";
                return false;
            } else if (!nameRegex.test(name)) {
                nameErrorDiv.textContent = "Enter a valid name.";
                return false;
            } else {
                nameErrorDiv.textContent = "";
            }

            return true;
        }

        {% if message == 'name_updated' %}
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "success",
                title: "Name Updated"
            });
        {% endif %}
    </script>
{% endblock %}