{% extends 'user/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
    <style>
        .cart-product-quantity input[type="button"] {
            border: 1px solid #ccc;
            color: #3399ff;
        }
        .cart-product-quantity input[type="button"]:hover {
            background: #3399ff;
            color: white;
        }
        .quantity-input {
            border: 1px solid #ccc;
        }
    </style>
{% endblock %}
{% block main %}
    <main class="main">
        <div class="page-content" style="padding-top: 5rem;">
            <div class="cart">
                {% if cart_details %}
                    <div class="container" style="min-height: 40rem;">
                        <div class="row ">
                            <div class="col-lg-9" >
                                <div>
                                    <table class="table table-cart table-mobile" >
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {% for item in cart_details %}
                                                <tr >
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="{% url 'product:product_view' item.product_id %}">
                                                                    <img src="{{ item.product_image }}" alt="Product image">
                                                                </a>
                                                            </figure>
                                                            <h3 class="product-title">
                                                                <a href="{% url 'product:product_view' item.product_id %}">{{ item.product_name }}</a>
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="price-col" data-product-id="{{ item.item_id }}">${{ item.product_price }}</td>
                                                    <td class="quantity-col">
                                                        <div class="quantity-container">
                                                            <div class="quantity-container">
                                                                <div class="cart-product-quantity">
                                                                    <input style="width: 2rem" class="btn-rounded decrease-btn" type="button" value="-" data-product-id="{{ item.item_id }}" />
                                                                    <input style="width: 3rem" class="btn-rounded quantity-input text-center" type="text" value="{{ item.quantity }}" min="1" max="{{ item.stock_of_product }}" required readonly />
                                                                    <input style="width: 2rem" class="btn-rounded increase-btn" type="button" value="+" data-product-id="{{ item.item_id }}" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="total-col" data-product-id="{{ item.item_id }}" >${{ item.total_price }}</td>
                                                    <td class="remove-col"><button class="btn-remove" data-item-id="{{ item.item_id }}"><i class="icon-close"></i></button></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <aside class="col-lg-3">
                                <div class="summary summary-cart" style="padding: 4.5rem 3rem 4rem;">
                                    <h3 class="summary-title">Cart Total</h3>
                                    <table class="table table-summary" id="refresh" style="margin-bottom: 2.5rem;">
                                        <tbody style="line-height: 4;">
                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td>${{ total }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {% if cart_details %}
                                        <a href="{% url 'cart:checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                                    {% endif %}
                                </div>
                                <a href="{% url 'home:home_page' %}" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                            </aside>
                        </div>
                    </div>
                {% else %}
                    <div style="text-align: center; margin-top: 20rem; height: 20rem; width: 100%;">
                        <h2>Empty</h2>
                        <span>Looks like you haven't added product to cart.</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
{% endblock %}
{% block extra_js %}
    <script>
        const message = "{{ message }}";
        if (message.trim() !== "None") {
            Swal.fire({
                icon: 'warning',
                title: message,
                showConfirmButton: true,
                confirmButtonColor: '#3399ff'
            });
        }
        $(document).ready(function () {
            $(".btn-remove").click(function () {
                var itemId = $(this).data("item-id");
                if (itemId) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You want to remove this from cart",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Remove',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            removeItem(itemId);
                        }
                    });

                } else {
                    console.error("Invalid itemId:", itemId);
                }
            });

            function removeItem(itemId) {
                $.ajax({
                    url: "/cart/remove-from-cart/" + itemId + "/",
                    type: "GET",
                    success: function (response) {
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    },
                });
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            const decreaseBtns = document.querySelectorAll(".decrease-btn");
            const increaseBtns = document.querySelectorAll(".increase-btn");
            const quantityInputs = document.querySelectorAll(".quantity-input");

            function sendQuantityToBackend(index, newValue, productId) {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "update_quantity/", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            updateTotalPrice(productId, newValue);
                            refreshTableAndTotalPrice();
                        } else {
                            console.error("Error updating quantity:", xhr.statusText);
                        }
                    }
                };
                const data = JSON.stringify({ index: index, value: newValue, productId: productId });
                xhr.send(data);
            }

            function updateTotalPrice(productId, value) {
                const totalPriceElement = document.querySelector(`.total-col[data-product-id="${productId}"]`);
                const totalPrice = document.querySelector(`.price-col[data-product-id="${productId}"]`);
                const totalPriceText = totalPrice.textContent;
                const totalPriceValue = parseFloat(totalPriceText.replace(/[^\d.]/g, ""));
                const total = totalPriceValue * value;
                intToFloat(total, 1);
                function intToFloat(num, decimalPlaces) {
                    tota = num.toFixed(decimalPlaces);
                }
                totalPriceElement.textContent = tota;
            }

            function refreshTableAndTotalPrice() {
                $("#refresh").load(window.location.href + " #refresh", function (response, status, xhr) {
                    if (status === "error") {
                        console.error("Error refreshing table and total price:", xhr.statusText);
                    }
                });
            }

            decreaseBtns.forEach((decreaseBtn, index) => {
                decreaseBtn.addEventListener("click", function () {
                    let currentValue = parseInt(quantityInputs[index].value);
                    if (currentValue > 1) {
                        quantityInputs[index].value = currentValue - 1;
                        let productId = decreaseBtn.getAttribute("data-product-id");
                        sendQuantityToBackend(index, currentValue - 1, productId);
                    }
                });
            });

            increaseBtns.forEach((increaseBtn, index) => {
                increaseBtn.addEventListener("click", function () {
                    let currentValue = parseInt(quantityInputs[index].value);
                    let maxValue = parseInt(quantityInputs[index].getAttribute("max"));
                    if (currentValue < maxValue && currentValue < 10) {
                        quantityInputs[index].value = currentValue + 1;
                        let productId = increaseBtn.getAttribute("data-product-id");
                        sendQuantityToBackend(index, currentValue + 1, productId);
                    }
                    else if (currentValue >= maxValue) {
                        Swal.fire({
                            icon: "warning",
                            text: `The seller has only ${maxValue} of these available.`,
                            timer: 2500,
                            showConfirmButton: false
                        });
                    }
                    else {
                        Swal.fire({
                            icon: "warning",
                            text: `The seller has a limit of 10 per customer.`,
                            timer: 2500,
                            showConfirmButton: false
                        });
                    }

                });
            });
        });
    </script>
{% endblock %}