{% extends 'user/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
    <style>
        .address-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 0;
        }
        .address-container h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .address-container p {
            margin: 5px 0;
        }
        .address-container .name {
            font-weight: bold;
        }
        .address-container .city {
            margin-top: 10px;
        }
        .address-container .state,
        .address-container .zip,
        .address-container .country {
            display: inline-block;
            margin-right: 10px;
        }
        .alert {
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
        }
        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
    </style>
{% endblock %}
{% block main %}
    <main class="main" style="margin-top: 50px;">
        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:account_settings'  %}">Account Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:orders'  %}">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:address'  %}">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="{% url 'account:wallet'  %}">Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'account:change_password'  %}">Change Password</a>
                                </li>
                            </ul>
                        </aside>
                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <h3>Change Password</h3>
                                <div class="row">
                                    <div class="address-container col-6" style="margin-bottom: 1rem;">
                                        {% if message == "invalid_password" %}
                                            <div class="alert alert-danger" role="alert">
                                                Your current password is incorrect!
                                            </div>
                                        {% endif %}
                                        <form method="POST" onsubmit="return validateForm()">
                                            {% csrf_token %}
                                            <label><strong>Current Password :</strong></label><br>
                                            <input type="password" id="current_password" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" name="current_password"><br>
                                            <div id="password-error1" style="color: red;"></div>
                                            <label><strong>New Password :</strong></label><br>
                                            <input type="password" id="new_password" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" name="new_password"><br>
                                            <div id="password-error" style="color: red;"></div>
                                            <div style="flex-direction: row-reverse; display: flex; margin-top: 2rem;">
                                                <button style="border: none; background: white;">
                                                    <a class="btn btn-primary text-white rounded-pill">Save</a>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
{% endblock %}
{% block extra_js %}
    <script>
        function validateForm() {
            var newPassword = document.getElementById("new_password").value.trim();
            var currentPassword = document.getElementById("current_password").value.trim();
            var passwordError = document.getElementById("password-error");
            var passwordError1 = document.getElementById("password-error1");

            if (currentPassword === "") {
                passwordError1.textContent = "Please enter your password.";
                return false;
            }
            passwordError1.textContent = "";

            if (newPassword === "") {
                passwordError.textContent = "Please enter your password.";
                return false;
            }

            if (newPassword.length < 8) {
                passwordError.textContent = "Password must contain at least 8 characters";
                return false;
            }

            var passwordRegex = /^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.{8,})/;
            if (!passwordRegex.test(newPassword)) {
                passwordError.textContent = "Password must contain at least 1 capital letter and 1 symbol";
                return false;
            }

            passwordError.textContent = "";
            return true;
        }

        {% if message == "password_changed" %}
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "success",
                title: "Password Changed"
            });
        {% endif %}
    </script>
{% endblock %}