{% extends 'user/base.html' %}
{% load static %}
{% block title %}Edit Address{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
    <style>
        .address-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 0;
            margin-right: 0;
        }
        .address-container h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .address-container p {
            margin: 5px 0;
        }
        .address-container .name {
            font-weight: bold;
        }
        .address-container .city {
            margin-top: 10px;
        }
        .address-container .state,
        .address-container .zip,
        .address-container .country {
            display: inline-block;
            margin-right: 10px;
        }
        .address-container .state::after,
        .address-container .zip::after,
        .address-container .country::after {
            content: ",";
        }
        .address-container .state:last-child::after,
        .address-container .zip:last-child::after,
        .address-container .country:last-child::after {
            content: "";
        }
    </style>
{% endblock %}
{% block main %}
    <main class="main" style="margin-top: 50px;">
        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="tab-content">
                                <h3 style="text-align: center;">Edit your address</h3>
                                <div class="row" style="justify-content: center;">
                                    <div class="address-container col-6" style="margin-bottom: 1rem;">
                                        <form method="POST" onsubmit="return validateForm()">
                                            {% csrf_token %}
                                            <input type="hidden" name="previous_url" value="{{ previous_url }}">
                                            <div style="margin-bottom: 1rem;">
                                                <label><strong>Full Name :</strong></label><br>
                                                <input type="text" id="name" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" name="name" value="{{ address.name }}" ><br>
                                                <div id="name-error" style="color: red;"></div>
                                            </div>
                                            <div style="margin-bottom: 1rem;">
                                                <label><strong>Mobile number :</strong></label><br>
                                                <input type="text" id="phone" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" name="phone" value="{{ address.phone }}" ><br>
                                                <div id="phone-error" style="color: red;"></div>
                                            </div>
                                            <div style="margin-bottom: 1rem;">
                                                <label><strong>City/Town :</strong></label><br>
                                                <input type="text" id="city" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" name="city" value="{{ address.city }}"><br>
                                                <div id="city-error" style="color: red;"></div>
                                            </div>
                                            <div style="margin-bottom: 1rem;">
                                                <label><strong>Landmark :</strong></label><br>
                                                <input type="text" id="landmark" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" name="landmark" value="{{ address.landmark }}" ><br>
                                            </div>
                                            <div style="margin-bottom: 1rem;">
                                                <label><strong>State :</strong></label><br>
                                                <input type="text" id="state" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;" name="state" value="{{ address.state }}"><br>
                                                <div id="state-error" style="color: red;"></div>
                                            </div>
                                            <div style="margin-bottom: 1rem;">
                                                <label><strong>Country :</strong></label><br>
                                                <input type="text" id="country" style="border: 1px solid #ccc; border-radius: 5px; width: 100%;"  name="country" value="{{ address.country }}"><br>
                                                <div id="country-error" style="color: red;"></div>
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 10rem; margin-top: 2rem;">
                                                    <button style="border: none; background: white;">
                                                        <a href="{{ previous_url }}" class="btn btn-danger text-white rounded-pill">Back</a>
                                                    </button>
                                                </div>
                                                <div style="margin-top: 2rem;">
                                                    <button style="border: none; background: white;" type="submit">
                                                        <a class="btn btn-primary text-white rounded-pill">Save</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
{% endblock %}
{% block extra_js %}
    <script>
        function validateForm() {
            var name = document.getElementById("name").value;
            var phone = document.getElementById("phone").value;
            var city = document.getElementById("city").value;
            var landmark = document.getElementById("landmark").value;
            var state = document.getElementById("state").value;
            var country = document.getElementById("country").value;

       // Validate Name
            if (name.trim() === "") {
                document.getElementById("name-error").textContent = "Please enter your name.";
                return false;
            } else {
                document.getElementById("name-error").textContent = "";
            }

       // Validate Phone Number
            if (phone.trim() === "" || isNaN(phone) || phone.length !== 10) {
                document.getElementById("phone-error").textContent = "Please enter a valid mobile number.";
                return false;
            } else {
                document.getElementById("phone-error").textContent = "";
            }

       // Validate City
            if (city.trim() === "") {
                document.getElementById("city-error").textContent = "Please enter your city.";
                return false;
            } else {
                document.getElementById("city-error").textContent = "";
            }

       // Validate Landmark
            if (landmark.trim() === "") {
                document.getElementById("landmark-error").textContent = "Please enter a nearest landmark.";
                return false;
            } else {
                document.getElementById("landmark-error").textContent = "";
            }

       // Validate State
            if (state.trim() === "") {
                document.getElementById("state-error").textContent = "Please enter your state.";
                return false;
            } else {
                document.getElementById("state-error").textContent = "";
            }

       // Validate Country
            if (country.trim() === "") {
                document.getElementById("country-error").textContent = "Please enter your country.";
                return false;
            } else {
                document.getElementById("country-error").textContent = "";
            }

       // If all validations pass, return true to submit the form
            return true;
        }
    </script>
{% endblock %}