{% extends 'user/base.html' %}
{% load static %}
{% block title %}Techify{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
{% endblock %}
{% block main %}
    <main class="main">
        <div class="intro-slider-container">
            <div class="intro-slide" style="background-image: url({% static 'user/assets/images/banner.png' %});">
                <div class="container intro-content">
                    <div class="row">
                        <div class="col-auto offset-lg-3 intro-col">
                            <h3 class="intro-subtitle"></h3>
                            <h1 class="intro-title">Razer Blade <br>Latest Model
                                <span>
                                    <sup class="font-weight-light">for</sup>
                                    <span class="text-primary">$1299<sup>,00</sup></span>
                                </span>
                            </h1>
                            <a href="{% url 'product:product_view' 15 %}" class="btn btn-outline-primary-2">
                                <span>Shop Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4"></div>
        <div class="container">
            <h2 class="title text-center mb-2">Explore Categories</h2>
            <div class="cat-blocks-container">
                <div class="row">
                    {% for category in categories %}
                        <div class="col-6 col-sm-4 col-lg-2">
                            <a class="cat-block" href="{% url 'product:product_list' %}?category={{ category.id }}">
                                <figure>
                                    <span>
                                        <img src="{{ category.image.url }}" alt="Category image" style="width: 130px;">
                                    </span>
                                </figure>
                                <h3 class="cat-block-title" style="margin-top: 2rem;">{{ category.name }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="bg-light pt-3 pb-5">
            <div class="container">
                <div class="tab-content tab-content-carousel">
                    <div class="heading heading-flex heading-border mb-3">
                        <div class="heading-left">
                            <h2 class="title">{% if offer %}Hot Deals Products{% else %}Products{% endif %}</h2>
                        </div>
                    </div>
                    <div class="tab-pane p-0 fade show active" id="hot-all-tab" role="tabpanel" aria-labelledby="hot-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                             data-owl-options='{
                                               "nav": false,
                                               "dots": true,
                                               "margin": 20,
                                               "loop": false,
                                               "responsive": {
                                               "0": {
                                               "items":2
                                               },
                                               "480": {
                                               "items":2
                                               },
                                               "768": {
                                               "items":3
                                               },
                                               "992": {
                                               "items":4
                                               },
                                               "1280": {
                                               "items":5,
                                               "nav": true
                                               }
                                               }
                                               }'>
                            {% for product in products %}
                                <div class="product">
                                    <figure class="product-media">
                                        {% if product.offer %}
                                            <span class="product-label label-sale" style="top:0.8rem; left:0.8rem;">{{ product.offer.discount }}% off</span>
                                        {% endif %}
                                        <a href="{% url 'product:product_view' product.id %}">
                                            <img src="{{ product.thumbnail.url }}" alt="Product image" class="product-image" >
                                        </a>
                                    </figure>
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a>{{ product.category.name }}</a>
                                        </div>
                                        <h3 class="product-title"><a href="{% url 'product:product_view' product.id %}">{{ product.name }}</a></h3>
                                        <div class="product-price">
                                            <span class="new-price">${{ product.price }}</span>
                                            {% if product.offer %}
                                                <span class="old-price">Was <s>${{ product.p_price }}</s></span>
                                            {% endif %}
                                        </div>
                                        <div class="ratings-container" style="display: block;">
                                            {% if product.average_rating %}
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: {{ product.average_rating }}%;"></div>
                                            </div>
                                            {% endif %}
                                            {% if product.stock == 0 %}
                                                <div  style="margin-top:1rem; padding: 0px; background: #fff; color: #d30000;">Out of Stock</div>
                                            {% elif product.stock <= 5 %}
                                                <div style="margin-top:1rem; padding: 0px; background: #fff; color: #d30000;">( Only {{ product.stock }} left in stock )</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3"></div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
    <script src="{% static 'user/assets/js/demos/demo-13.js' %}"></script>
{% endblock %}
{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var currentUrl = window.location.href;
            var menuLinks = document.querySelectorAll(".main-nav .menu li a");

            menuLinks.forEach(function(link) {
                if (link.href === currentUrl) {
                    link.parentElement.classList.add("active");
                }
            });
        });
        {% if message %}
            const Toast = Swal.mixin({
                toast: true,
                position: "top",
                showConfirmButton: false,
                timer: 2500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "success",
                title: "Signed In Successfully"
            });
        {% endif %}
    </script>
{% endblock %}