{% extends 'user/base.html' %}
{% load static %}
{% block title %}Orders{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
    <style>
        .pagination{
            list-style: none;
            display: inline-block;
            padding: 0;
            margin-top: 10px;
            li{
                display: inline;
                text-align: center;
            }
            a{
                float: left;
                display: block;
                font-size: 14px;
                text-decoration: none;
                padding: 5px 12px;
                color:#fff;
                margin-left: -1px;
                border:1px solid transparent;
                line-height: 1.5;
                &.active{  cursor: default;}
                &:active{ outline: none;}
            }
        }
        .modal-5{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 35px;
                left:0;
                bottom:0;
                z-index: -1;
                @include background-image(linear-gradient( left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 40% ,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 60%,rgba(0,0,0,0) 100%));
            }

            a{
                color:#666;
                padding:13px 5px 5px;
                margin: 0 10px;
                position: relative;
                &:hover{
                    color: #fff;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background:#3399ff;
                        @include border-radius(100%);
                        z-index: -1;
                        left: -3px;
                        bottom: 4px;
                        margin: auto;
                    }
                }
                &.next , &.prev{
                    color:#3399ff;
                    &:hover{
                        color:#666;
                        &:after{display: none;}
                    }
                }
                &.active {
                    background:#3399ff;
                    color:#fff;
                    &:before{
                        content: '';
                        position: absolute;
                        top:-11px;
                        left:-10px;
                        width: 18px;
                        border:10px solid transparent;
                        border-bottom:7px solid #104477;
                        z-index: -1;
                    }
                    &:hover{
                        &:after{display: none;}
                    }
                }

            }
        }
    </style>
{% endblock %}
{% block main %}
    <main class="main" style="margin-top: 50px; margin-bottom: 5rem;">
        <div class="page-content" style="padding: 0;">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:account_settings'  %}">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'account:orders'  %}">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:address'  %}">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="{% url 'account:wallet'  %}">Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:change_password'  %}">Change Password</a>
                                </li>
                            </ul>
                        </aside>
                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                    <h3>Orders</h3>
                                    {% if ordered_obj %}
                                        {% for product in ordered_obj %}
                                            <div class="row" style="border: 1px solid #ccc; border-radius: 5px; margin-bottom: 2rem;">
                                                <div class="top" style="background:#F0F2F2; width:100%;">
                                                    <div style="width: 20%; padding-left: 40px; float: left;">
                                                        <div style="width: fit-content;">
                                                            <span style="color: #3399ff;">ORDER PLACED</span>
                                                        </div>
                                                        <div style="width: fit-content;">
                                                            {{ product.ordered_date }}
                                                        </div>
                                                    </div>
                                                    <div style="width: 20%; padding-left: 40px; float: left;">
                                                        <div style="width: fit-content;">
                                                            <span style="color: #3399ff;">TOTAL</span>
                                                        </div>
                                                        <div style="width: fit-content;">
                                                            ${{ product.total }}
                                                        </div>
                                                    </div>
                                                    <div style="width: 20%; padding-left: 40px; float: left;">
                                                        <div style="width: fit-content;">
                                                            <span style="color: #3399ff;">SHIP TO</span>
                                                        </div>
                                                        <div style="width: fit-content;">
                                                            {{ product.address.name }}
                                                        </div>
                                                    </div>
                                                    <div style="width: 20%; padding-left: 40px; float: left;">
                                                        <div style="width: fit-content;">
                                                            <span style="color: #3399ff;">STATUS</span>
                                                        </div>
                                                        <div style="width: fit-content;">
                                                            {{ product.status }}
                                                        </div>
                                                    </div>
                                                    <div style="width: 20%; padding-left: 40px; float: left;">
                                                        <div style="width: fit-content;">
                                                            <span style="color: #3399ff;">DELIVERED ON</span>
                                                        </div>
                                                        {% if product.delivered_date %}
                                                            <div style="width: fit-content;">
                                                                {{ product.delivered_date }}
                                                            </div>
                                                        {% else %}
                                                            <div style="width: fit-content;">
                                                                <span>Not Delivered</span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="down" style="width: 100%; padding: 10px; padding-left: 40px;">
                                                    <div style="width: 14%; float: left;">
                                                        <img src="{{ product.product.thumbnail.url }}" height="90" width="90">
                                                    </div>
                                                    <div style="width: 65%; float: left; padding-top: 3rem;">
                                                        <span style="color: #3399ff;">{{ product.product.name }}</span>
                                                    </div>
                                                    <div style="float: right; width: fit-content; margin-top: 5rem;">
                                                        <button style="border: none; background: white;">
                                                            <a href="{% url 'account:order_details' product.id %}" class="btn btn-primary text-white" style="border-radius: 30px;">View Details</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div style="text-align: center; margin-top: 15rem; height: 25rem;">
                                            <h2>Empty</h2>
                                            <span>No Orders Yet.</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if ordered_obj.paginator.num_pages > 1 %}
                                <div class="row" style="display: flex; justify-content: center;">
                                    <ul class="pagination modal-5">
                                        {% if ordered_obj.has_previous %}
                                            <li><a href="?page={{ ordered_obj.previous_page_number }}" class="prev">Prev</a></li>
                                        {% endif %}
                                        {% for page_num in ordered_obj.paginator.page_range %}
                                            {% if page_num == ordered_obj.number %}
                                                <li><a class="active">{{ page_num }}</a></li>
                                            {% elif page_num == 1 or page_num == ordered_obj.paginator.num_pages or page_num >= ordered_obj.number|add:"-2" and page_num <= ordered_obj.number|add:"2" %}
                                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if ordered_obj.has_next %}
                                            <li><a href="?page={{ ordered_obj.next_page_number }}" class="next">Next</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
{% endblock %}