{% extends 'user/base.html' %}
{% load static %}
{% block title %}Wallet{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
    <style>
        .address-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 0;
        }
        .address-container h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .address-container p {
            margin: 5px 0;
        }
        .address-container .name {
            font-weight: bold;
        }
        .address-container .city {
            margin-top: 10px;
        }
        .address-container .state,
        .address-container .zip,
        .address-container .country {
            display: inline-block;
            margin-right: 10px;
        }
        .alert {
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
        }
        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .pagination{
            list-style: none;
            display: inline-block;
            padding: 0;
            margin-top: 10px;
            li{
                display: inline;
                text-align: center;
            }
            a{
                float: left;
                display: block;
                font-size: 14px;
                text-decoration: none;
                padding: 5px 12px;
                color:#fff;
                margin-left: -1px;
                border:1px solid transparent;
                line-height: 1.5;
                &.active{  cursor: default;}
                &:active{ outline: none;}
            }
        }
        .modal-5{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 35px;
                left:0;
                bottom:0;
                z-index: -1;
                @include background-image(linear-gradient( left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 40% ,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 60%,rgba(0,0,0,0) 100%));
            }

            a{
                color:#666;
                padding:13px 5px 5px;
                margin: 0 10px;
                position: relative;
                &:hover{
                    color: #fff;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background:#3399ff;
                        @include border-radius(100%);
                        z-index: -1;
                        left: -3px;
                        bottom: 4px;
                        margin: auto;
                    }
                }
                &.next , &.prev{
                    color:#3399ff;
                    &:hover{
                        color:#666;
                        &:after{display: none;}
                    }
                }
                &.active {
                    background:#3399ff;
                    color:#fff;
                    &:before{
                        content: '';
                        position: absolute;
                        top:-11px;
                        left:-10px;
                        width: 18px;
                        border:10px solid transparent;
                        border-bottom:7px solid #104477;
                        z-index: -1;
                    }
                    &:hover{
                        &:after{display: none;}
                    }
                }

            }
        }
    </style>
{% endblock %}
{% block main %}
    <main class="main" style="margin-top: 50px;">
        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:account_settings'  %}">Account Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:orders'  %}">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:address'  %}">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'account:wallet'  %}">Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:change_password'  %}">Change Password</a>
                                </li>
                            </ul>
                        </aside>
                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <h3>Wallet</h3>
                                <div class="row">
                                    <div class="address-container col-6" style="border: 3px solid #3399ff; background:#3399ff; color: white; height: 20rem;">
                                        <span style="font-size: 3rem">{{ name }}</span> <br>
                                        <span style="font-size: 1.5rem">${{ amount }}</span>
                                    </div>
                                </div>
                            </div>
                            {% if transaction_obj %}
                                <div style="margin-top: 6rem;">
                                    <h4>Transaction History</h4>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in transaction_obj %}
                                                <tr>
                                                    <td>{{ transaction.date_time|date:"Y-m-d" }}</td>
                                                    <td>{{ transaction.date_time|time:"g:i A" }}</td>
                                                    <td>{{ transaction.description }}</td>
                                                    {% if transaction.is_credit %}
                                                        <td style="color: #02cd02; padding-left: 15px;">${{ transaction.amount }}</td>
                                                    {% else %}
                                                        <td style="color: #ff0000;">-${{ transaction.amount }}</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if transaction_obj.paginator.num_pages > 1 %}
                                    <div class="row" style="display: flex; justify-content: center;">
                                        <ul class="pagination modal-5">
                                            {% if transaction_obj.has_previous %}
                                                <li><a href="?page={{ transaction_obj.previous_page_number }}" class="prev">Prev</a></li>
                                            {% endif %}
                                            {% for page_num in transaction_obj.paginator.page_range %}
                                                {% if page_num == transaction_obj.number %}
                                                    <li><a class="active">{{ page_num }}</a></li>
                                                {% elif page_num == 1 or page_num == transaction_obj.paginator.num_pages or page_num >= transaction_obj.number|add:"-2" and page_num <= transaction_obj.number|add:"2" %}
                                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if transaction_obj.has_next %}
                                                <li><a href="?page={{ transaction_obj.next_page_number }}" class="next">Next</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
{% endblock %}